@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

// Add this at the top of your Navbar.scss file
.container {
    max-width: 1440px;
    padding-left: 120px;
    padding-right: 120px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}

.active {
    background-color: #BFFF7F;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    z-index: 1000;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    
    .nav-inner {
        @extend .container;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
}

// Logo styling
.logo-link {
    display: flex;
    align-items: center;
    margin: 1rem;
}

.logo-image {
    height: 80px; // Adjust as needed
    width: auto;
}

// Removed .title styling since it's no longer used

nav ul {
    display: flex;
    background-color: #BFFF7F; // Added background only to the navigation items
    border-radius: 50px; // Optional: rounded corners
    padding: 0.2rem;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
}

nav ul li a:not(.active):hover {
    background-color: #9fd36c;
}

nav .menu {
    display: none;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 2.25rem;
    height: 2rem;
    margin: 0.75rem 0.5rem;
}

nav .menu span {
    height: 0.4rem;
    width: 100%;
    background-color: black;
    border-radius: 0.2rem;
}

@media (max-width: 768px) {
    .container, nav .nav-inner {
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media (max-width: 580px) and (min-width: 481px) {
    .container, nav .nav-inner {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (max-width: 480px) {
    .container, nav .nav-inner {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    nav .menu {
        display: flex;
    }

    nav .nav-inner {
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        width: 100%;
    }
    
    nav ul {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-left: 0;
        margin-top: 0.5rem;
    }

    nav ul.open {
        display: flex;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        margin: 0.2rem 0;
    }
}