.button {
    padding: 10px 10px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border: none;
    outline: none;
  }
  
  .button.default {
    text-align: center;
    display: block;
    color: black;
    width: 5.5rem;
    height: auto;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
  
  .button.default:hover {
    background-color: #9fd36c;
    ;
  }
  
  .button.outline {
    background-color: transparent;
    border: 2px solid #BFFF7F;
    color: #BFFF7F;
  }
  
  .button.outline:hover {
    background-color: #BFFF7F;
    color: white;
  }

  .button.neutral {
    align-items: center;
    justify-content: center;
    align-self: center;
    background-color: #dbdbdb;
    color: rgb(0, 0, 0);
    text-decoration: none;
  }

  .button.neutral:hover {
    background-color: #d1d1d1;
    color: rgb(0, 0, 0);
  }
  
  .button.danger {
    background-color: #ef4444;
    color: white;
  }
  
  .button.danger:hover {
    background-color: #dc2626;
  }
  