@import 'Variables';
@import 'Mixins';

.button {
    padding: 10px 10px;
    border-radius: 8px;
    font-size: $font-size-base;
    font-family: $font-family-base;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border: none;
    outline: none;
    position: relative; 
    
    &::after {
      content: '';
      position: absolute;
      bottom: -3px;
      left: 50%;
      width: 0;
      height: 3px;
      background-color: $color-highlight; 
      transition: width 0.5s ease;
      border-radius: 3px;
      transform: translateX(-50%);
  }
  
  &:hover::after {
      width: 100%;
  }
  
    &.default {
      text-align: center;
      color: $color-text;
      border-radius: 0.5rem;
      text-decoration: none;
    }
    
    &.outline {
      background-color: transparent;
      border: 2px solid $color-highlight;
      color: $color-highlight;
      
      &:hover {
        background-color: $color-highlight;
        color: $color-text;
      }
      
      &::after {
        background-color: $color-highlight;
      }
    }
    
    &.neutral {
      align-items: center;
      justify-content: center;
      align-self: center;
      background-color: #A4FF87;
      color: rgb(0, 0, 0);
      text-decoration: none;
      
      &:hover {
        background-color: $color-highlight;
        color: rgb(0, 0, 0);
      }
      
      &::after {
        background-color: #d3faac;
      }
    }
      
    &.danger {
      background-color: #ef4444;
      color: $color-text;
      text-decoration: none;
      
      &:hover {
        background-color: #dc2626;
      }
      
      &::after {
        background-color: #fecaca;
      }
    }
}

.modal-content {
    position: relative; 
    padding: 20px;
    background-color: $color-background;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
    .button.default {
      position: absolute; 
      top: 10px;
      right: 20px;
      background-color: transparent;
      font-size: 25px;
      border: none;
      cursor: pointer;
      padding: 5px;
      width: auto;
      transition: color 0.2s ease-in-out;
      
      &:hover {
        color: $color-highlight; 
      }
      
      &::after {
        content: none; 
      }
    }
}

@include respond-to(medium) {
    nav {
        .menu {
            display: flex;
        }
        
        .nav-inner {
            flex-direction: column;
            align-items: flex-start;
            position: relative;
            width: 100%;
        }
        
        ul {
            display: none;
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding-left: 0;
            margin-top: 0.5rem;
            background-color: #A4FF87;
            border-radius: 10px;
            padding: 10px 0;
            
            &.open {
                display: flex;
            }
            
            li {
                width: 100%;
                text-align: center;
                
                a {
                    margin: 0.2rem 0;
                    color: #000000;
                    padding: 10px 0;
                }
                
                .button,
                a.button {
                    background-color: transparent !important;
                    color: #000000 !important;
                    width: 100% !important;
                    text-align: center !important;
                    margin: 0.2rem 0 !important;
                    padding: 10px 0 !important;
                    
                    &::after,
                    &:hover::after {
                        background-color: transparent;
                    }
                }
            }
        }
    }
}