.fc-event {
    background-color: #308350 !important; 
    border-radius: 8px;
    padding: 5px;
    color: white;
  }
  
  .calendar-wrapper {
    max-width: 800px; 
    margin: 0 auto; 
  }

  .fc-day-today {
    background: rgba(191, 255, 127, 0.6) !important;
    border: 2px solid #302929;
  }
  
  .fc-toolbar {
    padding: 10px;
    border-radius: 8px;
  }
  

  .fc-daygrid-day {
    border: 1px solid #ddd;
    cursor: pointer;
  }
  
  .fc-daygrid-day:hover {
    background: #f4f4f4;
  }