footer {
  background-color: #A4FF87;
  color: #000000;
  text-align: center;
  padding: 20px 0;
  bottom: 0;
  width: 100%;
  height: 300px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-inner {
  max-width: 1440px;
  padding-left: 120px;
  padding-right: 120px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  flex-grow: 1;
}

.footer-column {
  width: 30%;
  text-align: center;
  padding: 0 15px;
}

.footer-column h4 {
  margin-bottom: 15px;
}

.logo-column {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0;
}

.footer-logo {
  height: 160px;
  width: auto;
  margin: 1rem; 
}

.footer-bottom {
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  padding-top: 15px;
}

@media (max-width: 1000px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
  
  .footer-column {
    width: 100%;
    margin-bottom: 20px;
    &:nth-child(1) { order: 3; } 
    &:nth-child(2) { order: 1; } 
    &:nth-child(3) { order: 2; } 
  }
  
  .logo-column {
    justify-content: center; 
    margin-top: 10px;
  }
  
  footer {
    height: auto; 
    padding-bottom: 10px;
  }
  
  .footer-logo {
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .footer-inner {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 580px) and (min-width: 481px) {
  .footer-inner {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 480px) {
  .footer-inner {
    padding-left: 20px;
    padding-right: 20px;
  }
}