@import 'Variables';
@import 'Mixins';

body {
  background-color: $color-background;
  margin: 0;
  padding: 0;
  font-family: $font-family-base;
}

.container-base {
  @include container-base;
}

.container {
  @extend .container-base;
  background-color: $color-background;
  color: $color-text;
  padding-top: 5rem;
}

.container2 {
  @extend .container-base;
  background-color: $color-background;
  color: $color-text;
  padding-top: 2rem; 
  padding-bottom: 2rem;  
}

.container-transparent {
  @extend .container-base;
  background-color: transparent;
  color: $color-text;
}


.two-column-section {
  display: flex;
  flex-direction: row;
  gap: $spacing-lg;
  flex-wrap: wrap;
}

.one-column-section {
  display: flex;
  gap: $spacing-lg;
  justify-content: center;
  align-items: center;
  
  .text-column,
  .section-heading,
  .paragraph {
    text-align: center;
  }
}

.text-column {
  flex: 2 1 400px;
}

.image-column {
  flex: 1 1 400px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.section-heading {
  font-size: $font-size-heading-large;
  margin-bottom: $spacing-md;
  font-weight: 400;
  color: $color-text;
}

.paragraph {
  margin-bottom: $spacing-md;
  line-height: 1.5;
  font-size: $font-size-base;
}

.highlight-text {
  color: $color-highlight;
  font-weight: 400;
}

.content-image-container {
  border-radius: 12px;
  overflow: hidden;
  width: 80%;
  max-height: 500px;
}

.content-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}


.benefits-grid {
  display: flex;
  flex-direction: column;
  padding: $spacing-xs 0;
  position: relative;
}

.benefits-heading {
  text-align: right;
  margin-bottom: $spacing-xs;
  padding-right: $spacing-lg;
}

.benefits-row {
  display: flex;
  gap: $spacing-xl;
  margin-bottom: $spacing-md;
  flex-wrap: wrap;
}

.benefit-card {
  flex: 0 1 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: $spacing-lg;
}

.offset-card {
  margin-top: 100px;
}

.benefit-image-container {
  width: 100%;
  height: 350px;
  overflow: hidden;
  border-radius: 12px;
  margin-bottom: $spacing-md;
}

.benefit-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.benefit-title {
  color: $color-highlight;
  font-size: $font-size-heading-small;
  margin-bottom: $spacing-xs;
  font-weight: 500;
}

.benefit-description {
  font-size: $font-size-base;
  line-height: 1.5;
}

.benefits-grid:before {
  content: '';
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
}

.benefits-row + .benefits-row {
  margin-top: -50px;
}

.booking-link {
  &:hover {
    background-color: rgba(173, 221, 109, 0.2); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  &:active {
    transform: translateY(1px);
  }
}

@include respond-to(medium) {
  .benefits-grid:before {
    display: none !important;
    content: none !important;
    visibility: hidden !important;
  }
  
  .benefits-row {
    justify-content: center;
    gap: $spacing-md;
    width: 100%;
    flex-direction: column;
  }
  
  .benefit-card {
    flex: 0 1 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .offset-card {
    margin-top: 0;
  }

  .benefits-heading {
    text-align: center;
    padding-right: 0;
  }
  
  .image-column {
    display: none;
  }
}

@include respond-to(mid-small) {
  .benefits-row {
    justify-content: center;
    gap: $spacing-sm;
  }
  
  .benefit-card {
    flex: 0 1 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  .benefits-heading {
    text-align: center;
    padding-right: 0;
  }
}

@include respond-to(tablet) {
  .benefits-row {
    flex-direction: column;
  }
  
  .benefit-card {
    flex: 0 1 100%;
  }
  
  .offset-card {
    margin-top: 0;
  }
  
  .benefits-heading {
    text-align: center;
    padding-right: 0;
  }
  
  .container {
    padding-top: 40px;
  }
  
  .two-column-section {
    flex-direction: column-reverse;
    gap: $spacing-md;
    margin: $spacing-md 0;
  }
  
  .section-heading {
    font-size: $font-size-heading-medium;
    margin-bottom: $spacing-sm;
  }
}

@include respond-to(tablet-small) {
  .container {
    padding-top: 30px;
  }
}

@include respond-to(mobile) {
  .container {
    padding-top: 20px;
  }
  
  .section-heading {
    font-size: $font-size-heading-small;
  }
}